*{margin:0;padding:0;}

body {
  padding-top: 50px;
  background: url("../images/body-bg.jpg") repeat scroll 0 0 #FBFBFB;
}

footer{
	border-top: 1px solid #DDD;
	padding: 40px 0;
	text-align: center;
	margin-top: 40px;
	color: #777;
}

ul{
	list-style: none outside none;
}

a {

	color: #444444;	
}
a:hover, a:visited{
	color: #444444;
}

.navbar .navbar-inner {
	box-shadow: 0 1px 10px rgba(0, 0, 0, 0.25);
	color: #000000;
}

.main_box{
	border: 1px solid gainsboro;
	background: white;
	border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 2px #CCCCCC;
    min-height: 50px;

}

.line{
	border-top: 1px solid #DDD;
	box-shadow: 0 1px 0 white inset;
	margin-top: 6px;
	padding: 6px 0 0 0;
}

.page {
	padding: 40px 80px;
}

.avatar {
background: url('../images/default-avatar.png') no-repeat;
border-radius: 100px;
border: 0;
background-size: 100% 100%;
}

.lookup .app-items {
margin: 0 -20px;
padding: 10px 0;
border: 0;
border-top: 1px solid #DDD;
}

.lookup .padding {
	padding: 40px 60px;
}

.lookup h1 {
font-weight: normal;
text-align: center;
margin-bottom: 20px;
}

.lookup .app-items .app-widget {
margin: 0 21px 0 0;
width: 265px;
border: 0;
height: 60px;
padding: 30px 0 15px 0;
overflow: hidden;
position: relative;
float: left;
color: #777;
}

.app-items .app-widget .collect {
float: right;
margin-top:22px;
}

.app-widget .avatar {
float: left;
border-radius: 15px;
margin-top:3px;
}

.app-items .app-widget > div {
overflow: hidden;
text-overflow: ellipsis;
width: 55%;
height: 60px;
margin-left: 70px;
}

.app-widget > div h3 {
font-weight: normal;
font-size: 16px;
color: #DD390D;
}

.app-widget > div h3 a {
color: #DD390D;
}

#index_main_ad {
    height:300px;
/*   	width:840px;*/
}

div#left > div, #right > div {
	margin-bottom: 15px;
}

.app_item{
	width:181px;
	margin-left:10px;
	margin-bottom:20px;
	height:70px
}
.app_item:hover{
/*	opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity=6);*/
	background-color: whiteSmoke;
}

.app_item_icon{
	width:70; 
	margin:0px
}

.app_item_info{
	margin:0px;
}

.app_item_info > ul {
	margin-left:5px; 
	margin-top:3px
}

.app_item_info > ul > li {
	width:105px;
	line-height:13px;
}

.app_item_info ul li em {
	font-size:11px;
	font-style: normal;
	color: #999;
}
.hot-items h3 {
	margin-left:10px; 
	margin-bottom:5px
}
.app_list{
	width:930px;
	position:relative;
}

.app_list .app_list_head{
	display:block;
	height:30px;
/*	border-bottom: 1px solid #EDEDED;*/
	padding: 10px 20px;
	background-color: #E5E5E5;
	color:#444;
}

.app_list_container ul {
	margin:0px;
}

.app_list_container ul li {
	border-bottom: 1px solid #EDEDED;
	padding: 20px; 
	margin:0px;
	position:relative;
}
.app_list_container ul li:hover{
	background-color: whiteSmoke;
}

.app_list_container ul li .app_icon{
	float:left;
	margin-left:0px; 
	margin-right:20px; 
	width:80px;
	height:80px;
}

.app_list_container ul li .app_info{
	float:left; 
	margin-right:20px; 
	padding-top: 5px;
	width: 770px;
}

.app_list_container ul li .app_info h4{
	font-size:16px;
	font-weight:bold;
	padding: 0 0 5px;
}
.app_list_container ul li .app_info h4 a:hover{
	/*background-color: ;*/
	color: #BD4A39;
    text-decoration: none;
}

.app_list_container ul li .app_info .span3 a{
	font-size:12px; 
	color:#08C;
}

.app_list_container ul li .app_info .app_action{
	display:none;
	margin:0px; 
	float:right; 
	position: absolute;
	right:50px;
	top:15px;
}
.app_list_container ul li .app_info .app_action a{
	margin-left:5px;
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity=6);
}

.app_list_container ul li .app_info .app_action a:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=10);
}

.app_list_container ul li .app_info .app_desc{
	font-size:12px; 
	color:#808080;
	margin:0px;
}

.app_list_container ul li .app_info .app_desc a{
	font-size:11px; 
	color:#BD4A39; 
	text-decoration: underline;
}

.app_list_container ul li .app_info .app_desc a:hover{
	text-decoration: none;
}


div#sidebar 
{
	padding-top: 22px;
	width: 180px;
	margin-right: -20px;
}

div#sidebar ul#lists li 
{
	position: relative;
	margin:10px;
}

div#feed 
{
	margin-left:25px;
	min-height: 420px;
padding-bottom: 20px;
position: relative;
}

#feed h1
{
	border-bottom: 1px solid #DDD;
	padding: 20px 30px 15px;
	margin-bottom: 0;
	font-weight: normal;
}

#feed ul.feed-list 
{
	margin: 0;
	padding: 0;
	background: white;
}

#feed ul.feed-list li {
	position: relative;
	padding: 20px 30px;
	list-style: none;
	border-bottom: 1px solid #EEE;
}

#feed ul.feed-list li:last-child {
border-bottom: none;
}

#feed ul.feed-list li img {
	float: left;
	height: 42px;
	width: 42px;
}

#feed ul.feed-list li .feed-event {
	margin-left: 60px;
	margin-bottom: 5px;
	color: #777;
}



#feed ul.feed-list li .feed-event a {
	color: #444;
	font-weight: normal;
}

#feed ul.feed-list li .timestamp {
float: right;
font-size: 11px;
}

#feed ul.feed-list li .feed-content {
margin-left: 60px;
padding: 2px 0 0;
}


#feed ul.feed-list li .feed-title {
display: block;
margin-bottom: 3px;
font-size: 15px;
color: #DD390D;
}

#feed ul.feed-list li .notes {
margin-top: 12px;
font-size: 14px;
}

#feed ul.feed-list li .notes a {
font-weight: normal;
}

#feed ul.feed-list li .notes * {
color: #111;
}

#feed ul.feed-list li .notes .content {
padding: 0 0 0 24px;
line-height: 20px;
overflow: hidden;
background: url('../images/clip-note.png') -12px 2px no-repeat;
}

#feed ul.feed-list li .feed-actions {
font-size: 12px;
margin-top: 10px;
color: #777;
}

#feed ul.feed-list li .feed-actions span{
margin: 0 8px 0 0px;
}

#feed ul.feed-list li .feed-comments {
margin-left: 60px;
padding-top: 5px;
border-top: 0;
background: #F8F8F8;
position: relative;
display: block;
margin-top: 12px;
}

#feed ul.feed-list li .feed-comments .all-comments {
display: block;
padding: 3px 10px 5px 10px;
border-bottom: 2px solid white;
}

#feed ul.feed-list li .feed-comments ul {
margin: 0;
}

#feed ul.feed-list li .feed-comments li {
padding: 6px 10px;
list-style: none;
min-height: 24px;
font-size: 12px;
border-bottom: 2px solid white;
}

#feed ul.feed-list li .feed-comments .body {
margin-left: 34px;
margin-top: -2px;
margin-bottom: 0;
}

#feed ul.feed-list li .feed-comments .body .body-text {
margin-right: 100px;
}

#feed ul.feed-list li .feed-comments a {
font-weight: bold;
color: #111;
}


#feed ul.feed-list li .feed-comments .reply {
padding: 12px 10px 10px;
}

#feed ul.feed-list li .feed-comments .reply form {
margin: 0;
}

#feed ul.feed-list li .feed-comments .reply img {
margin-top: -4px;
}

#feed ul.feed-list li .feed-comments .reply form input {
width: 500px;
padding: 2px 5px;
font-size: 12px;
margin-top: -3px;
}

#feed ul.feed-list li .feed-comments input {
margin-left: 10px;
}

#feed ul.feed-list li .feed-comments .avatar {
float: left;
height: 24px;
width: 24px;
}


#feed .load-more {
display: none;
border-top: 1px solid #DDD;
border-bottom: 1px solid #DDD;
background-color: #FAFAFA;
background-image: -moz-linear-gradient(white, #FAFAFA);
background-image: -o-linear-gradient(white, #FAFAFA);
background-image: -ms-linear-gradient(white, #FAFAFA);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #FAFAFA));
background-image: -webkit-linear-gradient(white, #FAFAFA);
}

#feed .load-more a, #feed .load-more span {
display: block;
padding: 10px 40px 10px 20px;
text-align: center;
color: #444;
margin: 0 auto;
}

#feed .load-more .loading-feed {
display: none;
font-weight: bold;
color: #888;
}

#feed .load-more a i {
display: inline-block;
width: 16px;
background: url('../images/icon-chevrondown.png') 5px 6px no-repeat;
}

#tools h1 {
border-bottom: 1px solid #EEE;
padding-bottom: 10px;
font-weight: normal
}

#tools h2 {
margin-top: 30px;
}

#tools img {
float: right;
margin: 5px 0 20px 20px;
}

#tools #extension .btn.chrome, #tools #extension .btn.firefox, #tools #extension .btn.opera {
width: 180px;
}

#tools #extension .btn {
font-size: 13px;
padding: 10px 10px;
margin: 10px 10px 10px 0;
}

#tools #extension .btn.chrome span {
padding: 10px 0 10px 30px;
background: url('../images/chrome-icon.png') 0 10px no-repeat;
}

#tools #extension .btn.firefox span {
padding: 10px 0 10px 30px;
background: url('../images/firefox.png') 0 10px no-repeat;
}

#tools #extension .btn.opera span {
padding: 10px 0 10px 30px;
background: url('../images/opera-icon.png') 0 10px no-repeat;
}

#tools #extension .btn.chrome span, #tools #extension .btn.firefox span, #tools #extension .btn.opera span {
background-size: 16px;
padding-left: 20px;
}

#tools .bookmarklets {
background: #FFF7DC;
padding: 8px 15px;
margin: 30px 0 15px;
}

#tools .bookmarklets .bookmarklet_button {
border: 1px solid #DDD;
border-top-color: #EEE;
padding: 0.5em 1em;
background: white;
color: #DD390D;
font-size: 13px;
line-height: 2;
margin: 30px 15px 30px 0;
line-height: 3.8;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
cursor: move;
white-space: nowrap;
}





