*{margin:0;padding:0;}

/*html, body {height: 100%;}*/

form
{
	margin: 0;
	padding: 0;
}


body {
  font: 12px/1.125 Arial,Helvetica,sans-serif;
  padding-top: 50px;
  /*background: url("../images/body-bg.jpg") repeat scroll 0 0 #FBFBFB;*/
  background: url("../images/base-noise.jpeg") repeat scroll 0 0 #F5F5F5;
  font-size: 13px;
  line-height: 1.4em;
}


footer{
	/*border-top: 1px solid #DDD;*/
	padding: 40px 0;
	text-align: center;
	margin-top: 40px;
	color: #777;
    background-color: #FFFFFF;
    position: relative;
    /*clear:both;*/
    /*position:fixed;*/
    bottom:0;
    width:100%;

}
footer p {
    color: #777777;
    font-size: 14px;
}

footer a {
    color: #777777;
    margin: 0 2em;
}

footer .follow-buttons {
    clear: both;
    height: 10px;
    margin-top: 30px;
    text-align: center;
}

ul{
	list-style: none outside none;
}

a {
	/*color: #444444;	*/
}
a:hover, a:visited{
	/*color: #444444;*/
	text-decoration: none;
}

hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #EEEEEE -moz-use-text-color #FFFFFF;
    border-image: none;
    border-left: 0 none;
    border-right: 0 none;
    border-style: solid none;
    border-width: 1px 0;
    margin: 18px 0;
}

.padding {
    padding: 40px;
}

.span9
{
    width: 680px;
}

.modal-backdrop {

    background:rgba(0,0,0,0.4);
    /*background: radial-gradient(ellipse closest-corner at 50% 50% , rgba(0, 0, 0, 0.1) 1%, rgba(0, 0, 0, 0.4) 100%) repeat scroll 0 0 transparent;*/
    height: 100%;
    left: 0;
    overflow-x:hidden;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal iframe 
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y:hidden; 
    border: none;
    width: 700px;
}

#oauth_modal 
{
    width: 700px;
    overflow: hidden;
}

#zg-message.alert 
{
    text-align: center;
    border-radius:0;
}

#oauth_modal .modal-body 
{
    padding:0;
    width: 700px;
    overflow: hidden;
    background: url("../images/loaders/loader32.gif") no-repeat scroll 0 0 transparent;
    background-position:center center;
}

.btn-green {
    background: linear-gradient(#94D52D, #65C31F) repeat scroll 0 0 #65C31F;
    background-image: -webkit-linear-gradient(#94D52D, #65C31F);
    border-color: #57AF17;
    color: #FFFFFF;
    font-weight: bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
}

.btn-green:active {
    background: none repeat scroll 0 0 #65C31F;
}
.btn-green:hover {
    background-position: 0 0;
    color: #FFFFFF;
}

/*.zg-header
{
	height: 53px;
}
*/

.dropdown-menu li > a:hover, .dropdown-menu li > a:focus, .dropdown-submenu:hover > a {
    background-color:#DD390D;
    background-image:none;
}
.pagination {
/*    color: #777777;
    font-size: 14px;
    margin: 0;
    padding: 15px 20px 0;*/
     /*height: 36px;*/
}

/*.pagination .pagination-counts {
    float: left;
    font-weight: normal;
    margin-right: 20px;
    margin-top: 5px;
}

.pagination .pagination-counts span {
    font-weight: bold;
    margin: 0;
    padding: 0;
}*/

/*.pagination .pagination-nav {
    float: right;
}
.pagination .pagination-nav .pages {
    font-weight: normal;
    margin-right: 20px;
}

.pagination .pagination-nav .page-input .link.hidden, .pagination .pagination-nav .page-input .page.hidden {
    display: none;
}
.pagination .pagination-nav .page-input .page {
    display: inline-block;
    padding: 4px 0 3px;
    text-align: center;
    width: 32px;
}

.pagination .pagination-nav .page-input .link {
    cursor: pointer;
    font-weight: bold;
    transition: all 0.25s ease 0s;
}


.pagination .pagination-nav .buttons {
    margin-bottom: -10px;
}



.pagination .pagination-nav .next, .pagination .pagination-nav .prev {
    border: 1px solid #DDDDDD;
    color: #999999;
    float: left;
    font-size: 24px;
    height: 26px;
    line-height: 20px;
    padding: 2px 12px 0;
    text-align: center;
    width: 10px;
}*/

.pagination .pagination-nav .next {
    border-left: 0 none;
}

.navbar .navbar-inner {
	box-shadow: 0 1px 0 #EEEEEE inset;
	color: #343434;
	height: 53px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	background: #FFFFFF;
	position: relative;
}

.navbar .logo
{
	float: left;
    height: 40px;
    margin-top: 6px;
    /*text-indent: -9999cm;*/
    width: 80px;
    margin-bottom: 0px;

}
.navbar .logo a 
{
	color: #DD390D;
}

.navbar .nav
{
	float: left;
    height: 53px;
    margin: 0;
}

.navbar .nav .actions a:hover {
    border-color: #CCCCCC;
}

.navbar .nav li.actions
{
	padding: 10px 0;
}

.navbar .nav li.actions a
{
	border: 2px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    color: #333333;
    font-size: 14px;
    line-height: 1;
    margin-left: 20px;
    padding: 7px 16px;
    text-transform: uppercase;
}

.navbar .nav li.actions a .caret 
{
	margin-top: 6px;
}

.navbar .nav .nav-discover{
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -1px 0 0 white;
    margin-left: 22px;
    margin-right: 5px;
    padding-left: 20px;
    padding-right: 15px;
    text-align: center;
    width: 54px;
    height: 53px;
}

.navbar .nav .nav-discover a 
{
	 color: #444444;
    font-weight: bold;
}

.navbar .nav .dropdown {
    background: none repeat scroll 0 0 transparent;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    max-width: 180px;
    padding: 15px;
    transition: border-color 0.15s linear 0s;
}

.navbar .nav .dropdown:hover {
    background: none repeat scroll 0 0 transparent;
    border-left: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
}

.navbar .nav a.dropdown-toggle {
    background: none repeat scroll 0 0 transparent;
    padding: 0;
}

.navbar .nav li.dropdown.open > .dropdown-toggle, .navbar .nav li.dropdown.active > .dropdown-toggle, .navbar .nav li.dropdown.open.active > .dropdown-toggle
{
	color: #FFFFFF;
	background-color: #FFFFFF; 
}

.navbar .avatar {
    border-radius: 32px 32px 32px 32px;
    height: 32px;
    margin-right: 10px;
    margin-top: -6px;
    width: 32px;
}

.navbar .nav > li > a 
{
	font-size: 14px;
	padding: 17px 10px;
}

.navbar form {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: -1px 0 0 white;
    float: left;
    margin: 0;
    padding: 10px 0 10px 30px;
    height: 32px;
}

.navbar form  input#search 
{
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CCCCCC;
    line-height: 1.2;
    padding: 6px 10px;
    width: 220px;
    border-radius: 0;
    box-shadow: none;
}

#body
{
	margin-top: 25px;
    height: auto;
     min-height: 100%;
}

.note {
    color: #999999;
    text-align: center;
}

.note a {
    color: #666666;
    font-weight: bold;
    font-size: 14px;
}

.app-bg
{
	/*background: url("../images/bg-column.png") repeat-y scroll 0 0 transparent;*/
    background: none repeat scroll 0 0 white;

}

.main_box{
	border-left: 1px solid gainsboro;
	background: white;
	border-radius: 2px 2px 2px 2px;
    /*box-shadow: 0 1px 2px #CCCCCC;*/
    min-height: 500px;
    /*width: 699px;*/

}

.main_box .no-datas
{
    font-size: 16px;
    height: 200px;
    margin: 60px auto 0;
    padding: 0 0 0 100px;
    text-align: left;
    width: 300px;
}
.main_box .no-datas small {
    color: #777777;
}

.main_box .no-datas-app
{
     background: url("../images/empty_apps.png") no-repeat scroll left top transparent;
}
.main_box .no-datas-comment
{
     background: url("../images/empty_comment.png") no-repeat scroll left top transparent;
}

.main_box .no-datas-like
{
     background: url("../images/empty_like.png") no-repeat scroll left top transparent;
}

.main_box .no-datas a 
{
    color: #DD390D;
    font-weight: bold;
    transition-duration: 0.2s;
    transition-property: color;
}

.main_box #list-info {
    color: #666666;
    padding: 18px 30px 0;
}

.main_box #list-head, .main_box h1
{
    border-bottom: 1px solid #E5E5E5;
}

.main_box #list-info h3 {
    color: #2E3C3F;
    float: left;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.3;
    margin-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 480px;
}

.main_box #list-info .list-actions {
    float: right;
}

.main_box #list-info .list-actions a
{
      opacity: 0.6;
    -moz-opacity: 0.6;
    filter:alpha(opacity=6);
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #FFFFFF;
    padding: 7px 10px 5px;
    transition: none 0s ease 0s;
}

.main_box #list-info .list-actions a:hover
{
      opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=10);
}

.main_box #new-clip {
    margin: 0 30px 20px;
}

.main_box #new-clip input {
    border-color: #DDDDDD;
    font-size: 12px;
    padding: 6px 8px 4px;
    width: 97%;
}

.line{
	border-top: 1px solid #DDD;
	box-shadow: 0 1px 0 white inset;
	margin-top: 6px;
	padding: 6px 0 0 0;
}

.page {
	padding: 40px 80px;
}

.avatar {
background: url('../images/default-avatar.png') no-repeat;
border-radius: 100px;
border: 0;
background-size: 100% 100%;
}

.lookup .app-items {
margin: 0 -20px;
padding: 10px 0;
border: 0;
border-top: 1px solid #DDD;
}

.lookup .padding {
	padding: 40px 60px;
}

.lookup h1 {
font-weight: normal;
text-align: center;
margin-bottom: 20px;
}

.profile-apps {
    border: 0 none;
    margin: 0 30px;
    padding: 10px 0;
}

.app-widget{
margin: 0 20px 0 0;
width: 420px;
border: 0;
padding: 20px 0 15px 0;
/*overflow: hidden;*/
position: relative;
float: left;
color: #777;
}

.app-widget .collect-save{
float: right;
right: 0px;
top: 12px;
/*margin-top:22px;*/
position: absolute;
display: none;
}

.app-widget .avatar {
float: left;
/*border-radius: 15px;*/
margin-top:3px;
}

.app-widget .app-desc{
overflow: hidden;
text-overflow: ellipsis;
width: 72%;
height: 95px;
margin-left: 115px;
}

.app-widget img.app-icon{
    width: 101px;
    height: 100px;
    float: left;
}

.app-widget span.mask {
    background: url("../images/mask100.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 103px;
    /*left: -1px;*/
    position: absolute;
    /*top: 30px;*/
    width: 102px;
}

.app-widget > div h3 {
font-weight: normal;
font-size: 16px;
color: #DD390D;
margin: 0 0 5px;
line-height: 1.2;
}

.app-widget > div h3 a {
color: #DD390D;
}


.people-widget {
    color: #777777;
    float: left;
    margin: 0 0 0 55px;
    padding: 30px 0;
    position: relative;
    width: 380px;
    overflow: hidden;
    border: 0 none;
    height: 60px;
}

.people-widget .avatar {
    float: left;
}

.people-widget .avatar {
    border-radius: 48px 48px 48px 48px;
}

.people-widget > div {
    margin-left: 60px;
     height: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 54.5%;
}

.people-widget > div h3 {
    color: #DD390D;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    margin:0;
}

.people-widget > div h3 a {
    color: #DD390D;
    font-size: 18px;
}



.people-widget > div a {
    color: #777777;
    font-weight: normal;
    font-size: 12px;
}

.people-widget .btn {
    box-shadow: none;
    font-size: 11px;
    position: absolute;
    right: 0;
    top: 30px;
    color: #FFFFFF;
}

.people-widget .disabled
{
    color: #333333;
}

/*.people-widget .btn c*/

.people-widget .btn i {
    margin-top:-1px;
}

.user-follow {
    box-shadow: none;
    font-size: 13px;
    padding: 0.3em 0.6em;
}

.user-follow.following {
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #DDDDDD;
    color: #999999;
}


.profile .load-more, #feed .load-more {
    border-bottom: 1px solid #DDDDDD;
    clear: both;
    margin: 0 40px 40px;
    padding: 40px 0 0;
}

.profile .load-more .load, #feed .load-more .load {
    background: linear-gradient(white, #FAFAFA) repeat scroll 0 0 #FAFAFA;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 0 15px #FFFFFF;
    color: #444444;
    display: block;
    margin: 0 auto -20px;
    padding: 10px;
    text-align: center;
    width: 140px;
}



#index_main_ad {
    height:300px;
/*   	width:840px;*/
}

div#left > div, #right > div {
	margin-bottom: 15px;
}

.app_item{
	width:181px;
	margin-left:10px;
	margin-bottom:20px;
	height:70px
}
.app_item:hover{
/*	opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity=6);*/
	background-color: whiteSmoke;
}

.app_item_icon{
	width:70; 
	margin:0px
}

.app_item_info{
	margin:0px;
}

.app_item_info > ul {
	margin-left:5px; 
	margin-top:3px
}

.app_item_info > ul > li {
	width:105px;
	line-height:13px;
}

.app_item_info ul li em {
	font-size:11px;
	font-style: normal;
	color: #999;
}
.hot-items h3 {
	margin-left:10px; 
	margin-bottom:5px
}
.app_list{
	width:930px;
	position:relative;
}

.app_list .app_list_head{
	display:block;
	height:30px;
/*	border-bottom: 1px solid #EDEDED;*/
	padding: 10px 20px;
	background-color: #E5E5E5;
	color:#444;
}

.app_list_container ul {
	margin:0px;
}

.app_list_container ul li {
	border-bottom: 1px solid #EDEDED;
	padding: 20px; 
	margin:0px;
	position:relative;
}
.app_list_container ul li:hover{
	background-color: whiteSmoke;
}

.app_list_container ul li .app_icon{
	float:left;
	margin-left:0px; 
	margin-right:20px; 
	width:80px;
	height:80px;
}

.app_list_container ul li .app_info{
	float:left; 
	margin-right:20px; 
	padding-top: 5px;
	width: 770px;
}

.app_list_container ul li .app_info h4{
	font-size:16px;
	font-weight:bold;
	padding: 0 0 5px;
}
.app_list_container ul li .app_info h4 a:hover{
	/*background-color: ;*/
	color: #BD4A39;
    text-decoration: none;
}

.app_list_container ul li .app_info .span3 a{
	font-size:12px; 
	color:#08C;
}

.app_list_container ul li .app_info .app_action{
	display:none;
	margin:0px; 
	float:right; 
	position: absolute;
	right:50px;
	top:15px;
}
.app_list_container ul li .app_info .app_action a{
	margin-left:5px;
	opacity: 0.6;
	-moz-opacity: 0.6;
	filter:alpha(opacity=6);
}

.app_list_container ul li .app_info .app_action a:hover{
	opacity: 1;
	-moz-opacity: 1;
	filter:alpha(opacity=10);
}

.app_list_container ul li .app_info .app_desc{
	font-size:12px; 
	color:#808080;
	margin:0px;
}

.app_list_container ul li .app_info .app_desc a{
	font-size:11px; 
	color:#BD4A39; 
	text-decoration: underline;
}

.app_list_container ul li .app_info .app_desc a:hover{
	text-decoration: none;
}


div.sidebar
{
	background: url('../images/bg-side.png') no-repeat scroll right -4px transparent;
	margin-right: -20px;
    padding-top: 22px;
    width: 240px;

}

div.sidebar .nav-list
{
    width: 238px;
    height: 100%;
    overflow: hidden;
    padding: 0 0 10px;

}

div.sidebar .nav-list li
{
    margin: 0 20px;
}

div.sidebar .nav-list li a 
{
    color: #444444;
     padding: 4px 20px 4px 10px;
}

/*.sidebar .nav-list li {
    margin: 0 10px;
    position: relative;
    line-height: 20px;
}
*/


.sidebar h2
{
	color: #DD390D;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.1;
    margin: 0 0 10px;
}

.sidebar h4
{
	font-size: 14px;
    font-weight: normal;
}

.sidebar h6 
{
	color: #999999;
    font-weight: normal;
    margin-bottom: 1em;
}

.sidebar .collaborators
{
	 margin: 10px 0 0;
    overflow: hidden;
}

.sidebar .collaborators li {
    float: left;
    list-style: none outside none;
    margin: 0 8px 8px 0;
}

.sidebar .collaborators li img
{
	height: 32px;
    width: 32px;
}

.sidebar p 
{
	color: #646464;
    font-size: 14px;
    line-height: 1.4;
    margin: 0 0 15px;
}

.sidebar hr 
{
	 margin: 15px 0;
}

.public-share {
    border-radius: 2px 2px 2px 2px;
    display: block;
    overflow: hidden;
    padding: 0 30px 50px;
    position: relative;
    z-index: 0;
}

.public-share h3 {
    color: #DD390D;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
}

.public-share >.user-info h3 a 
{
	color: #DD390D;
    font-size: 18px;
}


.public-share img.avatar {
    height: 48px;
    width: 48px;
    float: left;
}

.public-share > .user-info{
     height: 60px;
    margin-left: 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 66%;
}

.public-share > .user-info a {
    color: #777777;
    font-size: 12px;
    font-weight: normal;
}

.public-share > .user-info > a:hover{
    color: #999999;
}


ul#collect-list
{
	background: none repeat scroll 0 0 #FFFFFF;
    font-size: 1.15em;
    list-style: none outside none;
    margin: 0;
    min-height: 350px;
    padding: 0;
}

#collect-list .collect {
 	border-bottom: 1px solid #EEEEEE;
    list-style: none outside none;
    padding: 20px 20px 0px;
    position: relative;
    /*min-height: 100px;*/
    height: 100px;
}

#collect-list .collect .collect-content
{
	color: #444444;
    font-weight: bold;
    min-height: 38px;
    position: relative;
    text-decoration: none;
}

#collect-list .collect .collect-content .collect-date
{
	color: #848484;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    right: 0;
    top: 0;
}

#collect-list .collect .collect-content .collect-save
{
	display: none;
    position: absolute;
    right: 0;
    top: -10px;
    z-index: 2;
}

/*#collect-list .collect .collect-content:hover .collect-save
{
	color: #FFFFFF;
	display: block;
}*/

#collect-list .collect .collect-content .collect-date abbr 
{
	font-size: 11px;
	border: medium none;
	cursor: auto;

}

#collect-list .collect .collect-content .collect-info
{
	margin-left: 80px;
	padding:1px 10px 0;
}

#collect-list .collect .collect-content .comment-info
{
    margin-left:55px; 
    font-weight:normal; 
    font-size:12px;
    width: 500px;
}

#collect-list .collect .collect-content .comment-info a 
{
    color: #DD390D;
}

#collect-list .collect .collect-content .comment-info a:hover 
{
    text-decoration: underline;
}
#collect-list .collect .collect-content .collect-info .content
{
	/*background: url("../images/clip-note.png") no-repeat scroll -12px 2px transparent;*/
    padding: 0;
    margin-top:3px;
    /*min-height: 50px;*/
    height: 60px;
    overflow: hidden;

}

#collect-list .collect .collect-content .collect-info .content a
{
	color: #646464;
    font-size: 12px;
    font-weight:normal;
    line-height: 1.4;
    margin: 0px 0 15px;
}

#collect-list .collect .collect-content .collect-info .content a:hover
{
	color: #2E3C3F;
}

#collect-list .collect .collect-content a.collect-title
{
	color: #2E3C3F;
    font-size: 16px;
    width: 500px;
    line-height: 1.3;
    overflow: hidden;
    text-overflow: ellipsis;
    /*white-space: nowrap;*/
    display: block;
}

#collect-list .collect .collect-content a.collect-title:hover
{
	color: #DD390D;
}

#collect-list .collect .collect-content .collect-info p 
{
	color: #606060;
    font: 12px/1.125 Arial,Helvetica,sans-serif;
    font-weight: normal;
    line-height: 20px;
    margin: 4px 15px 4px ;

}

#collect-list .collect .collect-content .collect-info p a:hover
{
	color: #DD390D;
}

#collect-list .collect .collect-content .collect-info p a:hover i
{
	opacity: 1;
}

#collect-list .collect .collect-content .collect-info p i 
{
	opacity: 0.3;
}


#collect-list .collect .collect-content .collect-info p > span
{
	margin: 0 5px;
}

#collect-list .collect .collect-content span.mask {
	display: block;
    height: 78px;
    left: -1px;
    position: absolute;
    top: 0;
    width: 77px;
    z-index: 1;
    background: url("../images/mask75.png") no-repeat scroll 0 0 transparent;
}

#collect-list .collect .popover, #collect-info .app-info .popover, #feed .collect .popover, .app-widget .popover
{
	padding: 0;
	width:300px;
	z-index: 1031;
}

#collect-list .collect .popover-content, #collect-info .app-info .popover-content, #feed .collect .popover-content, .app-widget .popover .popover-content
{
	padding: 0;
}

#collect-list .collect .popover-content textarea, #collect-info .app-info .popover-content textarea, #feed .collect .popover-content textarea, .app-widget .popover .popover-content textarea
{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: -moz-use-text-color -moz-use-text-color #CCCCCC;
    border-image: none;
    border-radius: 5px 5px 0px 0px;
    border-style: none none solid;
    border-width: 1px;
    padding: 10px;
    resize: none;
    width: 280px;
    margin: 0;
    box-shadow: none;
    height: 70px;
}

#collect-list .collect .popover-content select, #collect-info .app-info .popover-content select, #feed .collect .popover-content select, .app-widget .popover-content select
{
	margin: 10px;
    width: 210px;
}

#collect-list .collect .popover-content .collect-save-btn, #collect-info .popover-content .collect-save-btn, #feed .collect .popover-content .collect-save-btn, .app-widget .popover-content .collect-save-btn
{
    float: right;
    padding: 4px 12px;
}

#collect-list .collect .popover-title, #collect-info .app-info .popover-title, #feed .collect .popover-title, .app-widget .popover-title
{
	margin: 0px;
	padding: 0px;

}

#collect-list .collect .prpover-footer, #collect-info .prpover-footer, #feed .collect .prpover-footer, .app-widget  .prpover-footer
{
	background-color: #F7F7F7;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    /*height:50px;*/
    padding: 5px 10px;
    zoom:1;
    overflow:hidden;
}

#collect-list .collect .collect-content ul.actions 
{
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    list-style-type: none;
    margin: 0;
    position: absolute;
    right: -35px;
    top: 2px;
    transition-duration: 0.1s;
    transition-property: opacity;
    display: none;
}

#collect-list .collect .collect-content ul.actions li {
    border: medium none;
    float: left;
    height: 14px;
    margin: 0 3px;
    opacity: 0.8;
    padding: 0;
    width: 20px;
    display: block;
}

/*#collect-list .collect .collect-content ul.actions li:hover a {
    color: #DD390D;
}*/

/*#collect-list .collect .collect-content ul.actions  a {
    display: block;
    float: left;
    height: 18px;
    opacity: 0.75;
    padding: 2px;
    width: 30px;
}*/



div#feed 
{
	/*margin-left:25px;*/
	min-height: 420px;
	padding-bottom: 20px;
	position: relative;
    width: 699px;
}

#feed h1
{
	/*border-bottom: 1px solid #DDD;*/
	padding: 20px 30px 15px;
	margin-bottom: 0;
	font-weight: normal;
}

#feed ul.feed-list 
{
	margin: 0;
	padding: 0;
	background: url("../images/loaders/loader32.gif") no-repeat scroll 0 0 transparent;
    background-position:center center;
    min-height: 500px;

}

#feed ul.feed-list li .collect-save {
    display: none;
    position: absolute;
    right: 25px;
    top: 17px;
}

#feed ul.feed-list .feed-avatar
{
    float: left;
    position: relative;
    width: 64px;
    height: 64px;
    zoom: 1;
    margin-left: -20px;
}


#feed ul.feed-list li.collect {
	position: relative;
	padding: 20px 30px 5px;
	list-style: none;
	border-bottom: 1px solid #EEE;
}


#feed ul.feed-list li:last-child {
    border-bottom: none;
}

#feed ul.feed-list li img.app-icon
{
    height: 60px;
    width: 60px;
}
#feed ul.feed-list li span.mask {
    background: url("../images/mask60.png") no-repeat scroll 0 0 transparent;
    display: block;
    left: -1px;
    position: absolute;
    top: 0;
    height: 63px;
    width: 62px;
}

#feed ul.feed-list li .feed-avatar img.avatar {
	float: left;
	height: 30px;
	width: 30px;
    position: absolute;
    bottom: -10px;
    right: -10px;
}

#feed ul.feed-list li .feed-event {
	margin-left: 60px;
	margin-bottom: 5px;
	color: #777;
}



#feed ul.feed-list li .feed-event a {
	color: #444444;
	font-weight: normal;
}

#feed ul.feed-list li .feed-event a:hover{
    text-decoration: underline;
}

#feed ul.feed-list li .timestamp {
float: right;
font-size: 11px;
}

#feed ul.feed-list li .feed-content {
margin-left: 60px;
padding: 2px 0 0;
}


#feed ul.feed-list li .feed-title {
display: block;
margin-bottom: 3px;
font-size: 15px;
color: #DD390D;
font-weight:bold;
}

#feed ul.feed-list li .feed-title:hover{
    color: #BD4A39;
    text-decoration: underline;
    transition-duration: 0.2s;
    transition-property: color;
}

#feed ul.feed-list li .notes {
    margin-top: 12px;
    font-size: 14px;
    min-height: 30px;
    /*height: 100px;*/
    max-height: 100px;
    overflow: hidden;
}

#feed ul.feed-list li .notes a {
font-weight: normal;
}

#feed ul.feed-list li .notes * {
color: #111;
}

#feed ul.feed-list li .notes .content {
padding: 0 0 0 24px;
line-height: 20px;
overflow: hidden;
background: url('../images/clip-note.png') -12px 2px no-repeat;
}

#feed ul.feed-list li .feed-actions {
font-size: 12px;
margin-top: 10px;
color: #777;
}

#feed ul.feed-list li .feed-actions a 
{
    color: #000000;
}

#feed ul.feed-list li .feed-actions a:hover i{
       opacity: 1.0;
       filter: alpha(opacity=100); 
}

#feed ul.feed-list li .feed-actions span > a i{
    opacity: .4;
    filter: alpha(opacity=40);
    margin-top: 0px; 
}

#feed ul.feed-list li .feed-actions > span{
margin: 0 8px 0 0px;
}
#feed ul.feed-list li .feed-actions > span .caret
{
    margin: 8px 3px; 
    border-bottom-color: #777777;
    border-top-color: #777777;
}



/*#feed ul.feed-list li .feed-actions .dropdown-menu li a {
    display: block;
    padding: 5px 25px;
}
*/
#feed ul.feed-list li .feed-actions .dropdown-menu li a:hover {
    background-image: none;
    background-color: #EEEEEE;
}

#feed ul.feed-list li .feed-actions .dropdown-menu li a i
{
    float: left;
    margin-right: 5px;
}

#feed ul.feed-list li .feed-actions .dropdown-menu  
{
    min-width: 110px;
}



#feed ul.feed-list li .feed-comments {
margin-left: 60px;
/*padding-top: 5px;*/
border-top: 0;
background: #F8F8F8;
position: relative;
display: block;
margin-top: 5px;
}

#feed ul.feed-list li .feed-comments .all-comments {
display: block;
padding: 8px 10px 5px 10px;
border-bottom: 2px solid white;
}

#feed ul.feed-list li .feed-comments ul {
margin: 0;
}

#feed ul.feed-list li .feed-comments li {
padding: 6px 10px;
list-style: none;
min-height: 24px;
font-size: 12px;
border-bottom: 2px solid white;
}

#feed ul.feed-list li .feed-comments .body {
margin-left: 34px;
margin-top: -2px;
margin-bottom: 0;
}

#feed ul.feed-list li .feed-comments .body .body-text {
margin-right: 100px;
}

#feed ul.feed-list li .feed-comments a {
font-weight: bold;
color: #111;
}

#feed ul.feed-list li .feed-comments a:hover{
    text-decoration: underline;
}

#feed ul.feed-list li .feed-comments .reply {
    padding: 12px 10px 10px;
}

#feed ul.feed-list li .feed-comments .reply form {
margin: 0;
}

#feed ul.feed-list li .feed-comments .reply img {
margin-top: -4px;
}

#feed ul.feed-list li .feed-comments .reply form input {
width: 438px;
padding: 2px 5px;
font-size: 12px;
margin-top: -3px;
float: left;
}

#feed ul.feed-list li .feed-comments .reply form button {
    margin-top: -3px;
    margin-left: 10px;
}

#feed ul.feed-list li .feed-comments input {
margin-left: 10px;
}

#feed ul.feed-list li .feed-comments .avatar {
float: left;
height: 24px;
width: 24px;
}

/*#feed .load-more {
display: none;
border-top: 1px solid #DDD;
border-bottom: 1px solid #DDD;
background-color: #FAFAFA;
background-image: -moz-linear-gradient(white, #FAFAFA);
background-image: -o-linear-gradient(white, #FAFAFA);
background-image: -ms-linear-gradient(white, #FAFAFA);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, white), color-stop(1, #FAFAFA));
background-image: -webkit-linear-gradient(white, #FAFAFA);
}*/

/*#feed .load-more a, #feed .load-more span {
display: block;
padding: 10px 40px 10px 20px;
text-align: center;
color: #444;
margin: 0 auto;
}

#feed .load-more .loading-feed {
display: none;
font-weight: bold;
color: #888;
}

#feed .load-more a i {
display: inline-block;
width: 16px;
background: url('../images/icon-chevrondown.png') 5px 6px no-repeat;
}*/

#tools h1 {
border-bottom: 1px solid #EEE;
padding-bottom: 10px;
font-weight: normal
}

#tools h2 {
margin-top: 30px;
}

#tools img {
float: right;
margin: 5px 0 20px 20px;
}

#tools #extension .btn.chrome, #tools #extension .btn.firefox, #tools #extension .btn.opera {
width: 180px;
}

#tools #extension .btn {
font-size: 13px;
padding: 10px 10px;
margin: 10px 10px 10px 0;
}

#tools #extension .btn.chrome span {
padding: 10px 0 10px 30px;
background: url('../images/chrome-icon.png') 0 10px no-repeat;
}

#tools #extension .btn.firefox span {
padding: 10px 0 10px 30px;
background: url('../images/firefox.png') 0 10px no-repeat;
}

#tools #extension .btn.opera span {
padding: 10px 0 10px 30px;
background: url('../images/opera-icon.png') 0 10px no-repeat;
}

#tools #extension .btn.chrome span, #tools #extension .btn.firefox span, #tools #extension .btn.opera span {
background-size: 16px;
padding-left: 20px;
}

#tools .bookmarklets {
background: #FFF7DC;
padding: 8px 15px;
margin: 30px 0 15px;
}

#tools .bookmarklets .bookmarklet_button {
border: 1px solid #DDD;
border-top-color: #EEE;
padding: 0.5em 1em;
background: white;
color: #DD390D;
font-size: 13px;
line-height: 2;
margin: 30px 15px 30px 0;
line-height: 3.8;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-o-border-radius: 4px;
border-radius: 4px;
-webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.3);
-moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
-o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
cursor: move;
white-space: nowrap;
}



#message img 
{
    float: left;
    margin-right: 10px;
}

#message .main_box
{
    min-height: 300px;
    margin: 56px 15px;
    border-left: 15px solid #999999;
    /*border: none;*/
}
#message .page 
{
    padding: 100px 200px;
}

#message h4 
{
    padding-top: 5px;
    margin-bottom: 5px;
}

#message blockquote 
{
    float: left;
}

#message blockquote small 
{
    width: 446px;
    color: #999999;
    font-size: 12px;
}

.list-widget {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #EEEEEE #DDDDDD #DDDDDD;
    border-image: none;
    border-radius: 3px 3px 3px 3px;
    border-right: 1px solid #DDDDDD;
    border-style: solid;
    border-width: 1px;
    padding: 15px;
    position: relative;
    width: 380px;
}

.list-widget .list-head {
    margin-left: 60px;
}

.list-widget h3 {
    color: #DD390D;
    font-size: 20px;
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
}

.list-widget h3 a {
    color: #DD390D;
    font-weight: normal;
}

.list-widget .list-meta {
    
    font-size: 13px;
    margin-top: 0;
}
.list-widget .list-meta a
{
   color: #777777;
}

.list-widget .list-meta a:hover
{
    color: #444444;
}


.list-widget .list-head .btn {
    margin: 0;
    position: absolute;
    right: 15px;
    top: 20px;

}

.list-widget .list-head .btn-danger{
     color: #FFFFFF;
}



/*.list-widget ul:before {
   
    
}*/

.list-widget .list-body
{
	padding:10px;
	min-height: 100px;
	border-top: 1px solid rgba(0, 0, 0, 0.15);
	margin-top: 10px;
	display:block;

}

.list-widget .list-body ul li:first-child
{
	margin-left: 0px;
}

.list-widget .list-body ul {
    list-style: none outside none;
    margin: 0;
    padding: 0px;
    position: relative;
}


.list-widget .list-body ul li
{
	float: left;
	margin-right:15px;
	margin-bottom: 10px;
}

.list-widget .list-body .list-view {
    color: #DD390D;
    margin-left: 5px;
    padding-top: 10px;
    padding-left: 0px
}

.list-widget .list-body .list-view a  {
	 color: #DD390D;
}
.list-widget .list-body ul li a .widget-app
{
	position: relative;
    height: 110px;
    overflow: hidden;
}

.list-widget .list-body ul li:hover
{
    position:relative; 
    top:-2px;
}



.list-widget .list-body ul li a span.mask {
	display: block;
    height: 78px;
    left: -1px;
    position: absolute;
    top: 0;
    width: 77px;
    z-index: 1;
    background: url("../images/mask75.png") no-repeat scroll 0 0 transparent;
}

.list-widget .list-body ul li a p 
{
	margin: 5px 10px 0 0;
	text-align: center;
	/*position: absolute;*/
	width: 65px;
	line-height: 15px;
}

.profile {
	background: none repeat scroll 0 0 #FFFFFF;
    float: right;
    min-height: 400;
    padding-bottom: 10px;
}

.profile .profile-head {
    padding: 30px 40px 0;
}

.profile .profile-tabs {
    height: 35px;
    margin-top: -8px;
    padding: 0 10px;
}

.profile .profile-head .profile-info h1 {
    margin-bottom: 0;
    margin-top: 5px;
    font-size: 30px;
}

.profile .profile-head .profile-info p {
    color: #555555;
    font-size: 15px;
    line-height: 1.5;
    margin: 10px 20px 0 0;
    padding-bottom: 30px;
}

.profile .profile-head .profile-extra {
    margin-left: 40px;
}
.list-follow {
    margin-top: 30px;
}
.user-follow.following, .list-follow.following  {
    background: none repeat scroll 0 0 #FEFEFE;
    border: 1px solid #DDDDDD;
    color: #999999;
    text-shadow:none;
}

.user-follow.following span,  .list-follow.following span{
    color: #87C636;
}

.profile .profile-head .profile-extra > div {
    margin-top: 20px;
}

.profile .profile-head .profile-extra > div > a 
{
    margin-right: 5px;
    color: #FFFFFF;
}

.profile .profile-tabs:after {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    content: "";
    display: block;
    height: 5px;
    left: 0;
    position: relative;
    top: -2px;
    width: 100%;
    z-index: 1;
}

.profile .profile-tabs a.active {
    background: none repeat scroll 0 0 #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 1px #CCCCCC inset;
    color: #000000;
}
.profile .profile-tabs a:first-child {
    margin-left: 230px;
}
.profile .profile-tabs a {
    color: #666666;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    margin: 0 20px 0 0;
    padding: 12px 25px;
}

.profile .profile-tabs {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 35px;
    margin-top: -8px;
    padding: 0 10px;
}

.profile .list-widget {
    float: left;
    margin: 30px 0 0 40px;
}


#collect-info 
{
	box-shadow: none;
    display: block;
    /*float: right;*/
    margin-left: 20px;
    padding: 30px 30px 0 0;
    width: 655px;
    z-index: 0;
}

#collect-info .collect-main
{
	display: block;
    opacity: 1;
}
#collect-info .collect-main .app-icon 
{
	float: left;
}

#collect-info .collect-main .app-icon .btn
{
	margin: 10px 25px 15px;
}

#collect-info .collect-main .app-icon span.mask {
	display: block;
    height: 178px;
    left: -1px;
    position: relative;
    top: 0;
    width: 177px;
    z-index: 1;
    background: url("../images/mask175.png") no-repeat scroll 0 0 transparent;
}

#collect-info .collect-main .app-info
{
	overflow: hidden;
	zoom:1;
}

#collect-info .collect-main .app-info .app-mate
{
	margin-left: 190px;
    overflow: hidden;
}

#collect-info .collect-main .app-info .app-mate h1
{
	font-size: 25px;
    line-height: 1.1;
    margin: 0 0 5px;
}

#collect-info .collect-main .app-info .app-mate a 
{
	color: #DD390D;
}

#collect-info .collect-main .app-info .app-mate .app-desc {
    font-size: 14px;
    line-height: 1.4;
    padding: 20px 0 20px;
    height: 100px;
    overflow:hidden;
    margin-bottom: 6px;

}


#collect-info .collect-main .app-info .app-mate .meta-info {
    height: 20px;
    margin-top: 20px;
}

#collect-info .collect-main .app-info .mate-info > span {
	 color: #747474;
}

#collect-info .collect-main span abbr {
    border-bottom: medium none;
    cursor: default;
}

#collect-info .collect-main .app-info .icon-time {
    /*margin-left: 10px;*/
}

#collect-info .collect-main #app-screens
{
	margin-bottom: 30px
}

#collect-info .collect-main #app-screens ul.nav li
{
	font-size: 14px;
	font-weight: bold;
}

#collect-info .collect-main .app-screens 
{
	/*border-top: 1px solid #DDDDDD;*/
    /*padding-top: 20px;*/
    padding-bottom: 20px;
    /*margin-top: 20px;*/
    overflow-x: scroll;
}

#collect-info .collect-main .app-screens  ul 
{
	margin:0px;
}

#collect-info .collect-main .app-screens ul li 
{
	float: left;
	margin-right: 10px;
}

#collect-info .collect-main .app-screens ul li img
{
/*	width: 320px;
	height: 480px;*/
	box-shadow: 1px 2px 2px;
}

#collect-info .collect-main .avatar {
    border-radius: 42px 42px 42px 42px;
    float: left;
    height: 42px;
    width: 42px;
}

#collect-info .collect-main .actions {
	padding: 15px 0;
} 

#collect-info .collect-main .actions > input {
    float: right;
    margin-right: 0px;
    margin-bottom: 50px;
    padding: 8px;
}

#collect-info .collect-main .mate-info .action-buttons {
    display: inline-block;
    float: right;
    padding: 0 1px 0 0;
}

#collect-info .collect-main .mate-info .action-buttons a 
{
	color: #333333;
	margin-left: 7px;
}
}

.comments ul.comment-list {
    color: #444444;
    list-style: none outside none;
    margin: 30px 0 0;
    padding: 0;
}

.comments ul.comment-list {
    color: #444444;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.comments ul.comment-list li {
    border-top: 1px solid #EAEAEA;
    min-height: 32px;
    overflow: hidden;
    padding: 16px 0;
}

.comments ul.comment-list .user, .comments ul.comment-list .comment {
    margin-left: 58px;
}

.comments ul.comment-list .user {
    margin-bottom: 5px;
}

.comments ul.comment-list .user .timestamp {
    color: #747474;
    float: right;
    font-size: 12px;
}

.comments ul.comment-list .user .delete {
    /*color: #747474;*/
    display: none;
    float: right;
    font-size: 12px;
    font-weight: normal;
    margin-right: 10px;
    opacity: .6;
    -moz-opacity: 0.6;
    filter:alpha(opacity=60);*/
}

.comments ul.comment-list .user .delete:hover {
   opacity: 1;
   -moz-opacity: 1;
   filter:alpha(opacity=60);*/
}

.comments .new-comment {
	border-top: 1px solid #DDDDDD;
    padding-top: 30px;
}

.comments .new-comment textarea {
    width: 490px;
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 0 #EEEEEE inset;
    font-size: 14px;
    height: 80px;
    margin: 0 0 0 16px;
    padding: 8px 10px;
    width: 575px;
}



.accounts-form {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    border-radius: 2px 2px 2px 2px;
    box-shadow: 0 1px 6px #BBBBBB;
    margin: 50px auto 30px;
    padding: 20px 0 0;
    text-align: center;
    width: 520px;

}

.accounts-form h2 {
    color: #222222;
    font-size: 26px;
    font-weight: 400;
    letter-spacing: 0;
}

.accounts-form .connect-buttons a
{
	display: inline-block;
    margin: 0 10px 20px;
}

.accounts-form .connect-buttons  #sina_button {
	
    background: none repeat scroll 0 0 #DD390D;
    border-color: #DD390D;
}

.accounts-form .connect-buttons  #qq_button {
	/*background: none repeat scroll 0 0 #415D9C;
    border-color: #3A5695;*/
    background: none repeat scroll 0 0 #0BA8D6;
    border-color: #007EA3;
}

#login #auth-form, #signup #auth-form {
    padding-top: 30px;
}

.accounts-form .connect-buttons a.btn
{

    background: none repeat scroll 0 0 #0BA8D6;
    box-shadow: 0 0 0 5px #EEEEEE;
    color: #FFFFFF;
    font-weight: bold;
    padding: 0.6em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.35);
    width: 13em;
}

.accounts-form #auth-form {
    background: linear-gradient(#FEFEFE, #F4F4F4) repeat scroll 0 0 #F4F4F4;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: 1px solid #DDDDDD;
    margin: 0;
    padding: 0 0 40px;
}

.accounts-form .errorlist {
    list-style: none outside none;
    margin: 0 95px 15px;
    font-size: 14px;
}

.accounts-form #auth-form .input {
    margin-bottom: 15px;
}

/*.accounts-form #auth-form .input span
{
	float: none;	
	 margin: 4px 0 0;
}*/

.accounts-form #auth-form input[type="text"], .accounts-form #auth-form input[type="password"] {
    box-shadow: 0 1px 1px #DDDDDD inset;
    /*color: #000000;*/
    font-size: 16px;
    padding: 0.8em;
    width: 300px;
}

.accounts-form #auth-form input[type="submit"] {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 0.8em 3em;
}

hr.small {
    border-top-color: #CCCCCC;
    margin: 15px auto;
    width: 20px;
}

#signup div.user-mate
{
	float: none;
	margin-bottom: 10px;
	margin-left: 0px;
	width: 520px;
}

/*#signup div.user-mate h1
{
	color: #DD390D;
	font-size: 20px;
}*/

.explore .explore {
	background: none repeat scroll 0 0 #FFFFFF;
 	border-bottom: 1px solid #EEEEEE;
    box-shadow: 0 0 4px whiteSmoke;
    color: #777777;
    height: 33px;
    padding: 20px 18px 0;
}

.explore .explore i {
    background: url("../images/icon-explore.png") no-repeat scroll 5px center transparent;
    color: #CCCCCC;
    display: inline-block;
    float: left;
    font-size: 12px;
    font-style: normal;
    height: 19px;
    line-height: 16px;
    padding-left: 40px;
    width: 27px;
}

.explore .explore .type {
    display: inline-block;
    font-size: 11px;
    height: 20px;
    padding-right: 40px;
    text-transform: uppercase;
    width: 20px;
}

.explore .explore a {
    color: #666666;
    margin: 0 40px 0 0;
    padding: 15px 0;
    font-weight: bold;
    font-size: 14px;
}

.explore .explore a:hover {
    color: #111111;
}

.explore .explore a.active {
    border-bottom: 2px solid #CCCCCC;
    color: #DD390D;
}

.discover
{
	background: none repeat scroll 0 0 #FFFFFF;
	padding-bottom: 30px;
}

.discover .list-widget {
    float: left;
    margin: 30px 0 0 40px;
}

.list-actions .caret 
{
    margin-left: 3px;
    margin-top: 11px;
}

.logo-min{display:inline-block;background-image: url(../images/logo_min.png);}
.logo-min-weibo{ background-position: 0 0; width: 20px; height: 17px; } 
.logo-min-qq{ background-position: -113px 0; width: 15px; height: 15px; } 
.logo-min-tqq{ background-position: -138px 0; width: 22px; height: 22px; } 
.logo-min-taobao{ background-position: -170px 0; width: 19px; height: 13px; } 
.logo-min-baidu{ background-position: -199px 0; width: 16px; height: 19px; } 
.logo-min-weixin{ background-position: -225px 0; width: 21px; height: 16px; } 
.logo-min-pengyou{ background-position: -256px 0; width: 15px; height: 14px; } 
.logo-min-douban{ background-position: -281px 0; width: 15px; height: 14px; } 
.logo-min-renren{ background-position: -306px 0; width: 23px; height: 14px; } 
.logo-min-qzone{ background-position: -30px 0; width: 19px; height: 17px; } 
.logo-min-kaixin{ background-position: -59px 0; width: 16px; height: 16px; } 
.logo-min-miliao{ background-position: -85px 0; width: 18px; height: 16px; } 

.logo-large{display:inline-block;background-image: url(../images/logo_large.png);}
.logo-weibo{ background-position: 0 0; width: 62px; height: 50px; } 
.logo-qq{ background-position: -72px 0; width: 49px; height: 52px; } 
.logo-tqq{ background-position: -131px 0; width: 58px; height: 54px; } 
.logo-taobao{ background-position: -199px 0; width: 64px; height: 50px; } 
.logo-baidu{ background-position: -273px 0; width: 50px; height: 54px; } 
.logo-weixin{ background-position: -342px 0; width: 59px; height: 48px; } 
.logo-pengyou{ background-position: -402px 0; width: 57px; height: 54px; } 
.logo-douban{ background-position: -469px 0; width: 49px; height: 48px; } 
.logo-renren{ background-position: -528px 0; width: 71px; height: 40px; } 
.logo-qzone{ background-position: -609px 0; width: 65px; height: 57px; } 
.logo-kaixin{ background-position: -684px 0; width: 54px; height: 54px; } 
.logo-miliao{ background-position: -748px 0; width: 66px; height: 58px; } 

.logo-btn-min{display:inline-block;background-image: url(../images/logo_btn_min.png);  width: 34px; height: 34px;}
.logo-btn-min-weibo{ background-position: 0 0; } 
.logo-btn-min-qq{ background-position: -44px 0; } 
.logo-btn-min-tqq{ background-position: -88px 0; } 
.logo-btn-min-taobao{ background-position: -132px 0; } 
.logo-btn-min-baidu{ background-position: -176px 0; } 
.logo-btn-min-weixin{ background-position: -220px 0; } 
.logo-btn-min-pengyou{ background-position: -264px 0; } 
.logo-btn-min-douban{ background-position: -308px 0; } 
.logo-btn-min-renren{ background-position: -352px 0; } 
.logo-btn-min-qzone{ background-position: -396px 0; } 
.logo-btn-min-kaixin{ background-position: -440px 0; } 
.logo-btn-min-miliao{ background-position: -484px 0; } 

.logo-btn{display:inline-block;background-image: url(../images/logo_btn.png);  width: 100px; height: 100px;}
.logo-btn-weibo{ background-position: 0 0;} 
.logo-btn-qq{ background-position: -110px 0;} 
.logo-btn-tqq{ background-position: -220px 0;} 
.logo-btn-taobao{ background-position: -330px 0;} 
.logo-btn-baidu{ background-position: -440px 0;} 
.logo-btn-weixin{ background-position: -550px 0;} 
.logo-btn-pengyou{ background-position: -660px 0;} 
.logo-btn-douban{ background-position: -770px 0;} 
.logo-btn-renren{ background-position: -880px 0;} 
.logo-btn-qzone{ background-position: -990px 0;} 
.logo-btn-kaixin{ background-position: -1100px 0;} 
.logo-btn-miliao{ background-position: -1210px 0;} 



.sidenav {
    background: url("../images/bg-sidebar.png") no-repeat scroll right top transparent;
    /*margin: 0;*/
    min-height: 400px;
    padding: 30px 0;
    width: 240px;
}

.sidenav ul
{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.sidenav ul li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: transparent -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
    line-height: 28px;
    margin: 8px 1px 8px 0;
    padding: 0 20px;
}

.sidenav ul li.active {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
/*    border-color: #DDDDDD -moz-use-text-color;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;*/
}

.sidenav ul li a {
    color: #777777;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
}

.sidenav ul li a:hover {
    color: #111111;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px;
}

.sidenav ul li i {
    /*background: url("/static/img/icons-2x.png?353ade99c2ac") no-repeat scroll 0 0 / 32px auto transparent;*/
    display: inline-block;
    height: 20px;
    line-height: 24px;
    margin-right: 5px;
    opacity: 0.45;
    vertical-align: text-top;
    width: 20px;
}

#settings .avatar {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 0 0 0 0;
    float: right;
    font-size: 14px;
    margin: 20px 40px;
    padding: 15px 15px 5px;
    width: 180px;
}

#settings .avatar p {
    color: #666666;
    margin: 10px 0 0;
}

#settings .avatar p a {
    margin-right: 5px; 
}

#settings textarea#user_signature {
    margin-bottom: 3px;
    height: 120px;
}

#settings .footnote {
    margin-bottom: 20px;
}

#settings .actions {
    border-top: 1px solid #DDDDDD;
    margin-top: 20px;
    padding-top: 20px;
}

#settings input[type="text"]
{
    font-size: 14px;
    margin-bottom: 20px;
    padding: 7px 10px;
    border-radius: 0 3px 3px 0;
    border-color: #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    color: #444444;
    /*margin: 0;*/
    /*transition: border-color 0.25s ease 0s;*/
    height: 18px;
    line-height: 18px;
    padding: 7px 10px;
}

#settings .uneditable-input 
{
    width: 206px;
    line-height: 24px;
    font-size: 14px;
    border-radius: 0 3px 3px 0;
    border-color: #CCCCCC;
    border-radius: 2px 2px 2px 2px;
    box-shadow: none;
    height: 24px;
    margin-bottom: 16px;
}

#settings .input a 
{
    margin-left: 5px;
    font-size: 12px;
    color: #DD390D;
}

#settings .input a:hover 
{
    color: #BD4A39;
    text-decoration: underline;
}

#settings .services {
    list-style: none outside none;
    margin: 0 0 30px;
    overflow: hidden;
}

#settings .services li {
    border-bottom: 1px solid #DDDDDD;
    margin: 0;
    padding: 30px 80px 30px 0;
    position: relative;
}

#settings .services li i
{
     background: none repeat scroll 0 0 #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    float: left;
    height: 48px;
    margin-right: 20px;
    margin-top: 0;
    transition: background-color 0.1s linear 0s;
    vertical-align: top;
    width: 48px;
}

#settings .services li .btn {
    box-shadow: none;
    font-size: 11px;
    padding: 4px 10px;
    position: absolute;
    right: 0;
    top: 30px;
}

#settings .services li.weibo i {
    background: url("../images/icon-weibo.png") no-repeat scroll center center / 28px auto #CCCCCC;
}

#settings .services li.active.weibo i , #settings .services li.weibo:hover i  {
    background-color: #e11728;
}



#settings .services li.qq i {
    background: url("../images/icon-qq.png") no-repeat scroll center center / 28px auto #CCCCCC;
}
#settings .services li.active.qq i, #settings .services li.qq:hover i  {
    background-color: #3594c5;
}


#settings .services li.tqq i {
    background: url("../images/icon-tqq.png") no-repeat scroll center center / 28px auto #CCCCCC;
}
#settings .services li.renren i {
    background: url("../images/icon-renren.png") no-repeat scroll center center / 28px auto #CCCCCC;
}
#settings .services li.active.renren i, #settings .services li.renren:hover i {
    background-color: #005eac;
}
#settings .services li.diandian i {
    background: url("../images/icon-diandian.png") no-repeat scroll center center / 28px auto #CCCCCC;
}
#settings .services li.active.diandian i, #settings .services li.diandian:hover i {
    background-color: #144568;
}
#settings .services li.pocket i{
    background: url("../images/icon-pocket.png") no-repeat scroll center center / 28px auto #CCCCCC;
}
#settings .services li.active.pocket i, #settings .services li.pocket:hover i  {
    background-color: #f63b56;
}
#settings .services li.evernote i{
    background: url("../images/icon-evernote.png") no-repeat scroll center center / 28px auto #CCCCCC;
}
#settings .services li.active.evernote i, #settings .services li.evernote:hover i{
    background-color: #6bb130;
}

#settings .services li.douban i{
    background: url("../images/icon-douban.png") no-repeat scroll center center / 28px auto #CCCCCC;
}
#settings .services li.active.douban i, #settings .services li.douban:hover i{
    background-color: #30983f;
}



#settings .services li h3 {
    font-size: 18px;
    font-weight: normal;
    line-height: 1.2;
    margin: 0;
}

#settings .services li small

{
    color: #555555;
    font-size: 12px;
    margin: 4px 0 0;
}

